/*---------------Head---------------------*/

.head {
    background-color: #0e4675;
    padding: 10px 0;
    color: #ffd51e;
}

.head 
i {
    margin-right: 10px;
}

.head
label {
    margin-right: 30px;
    font-size: 13px;
}

/*---------------End of Head---------------------*/

